@page
@model AJJK_Planner.Pages.CreateModel
@{
    Layout = "LoginLayout";
}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <!-- <title>Neumorphism Login Form UI | CodingNepal</title> -->
    <link rel="stylesheet" href="/css/Login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="content">
        <div class="text">
            Create Account Form
        </div>
        <form method="post" asp-page-handler="Create">
            <div class="field">
                <input asp-for="createacc.username" type="text" required>
                <span class="fas fa-user"></span>
                <label>Email or Phone</label>
            </div>
            <div class="field">
                <input asp-for="createacc.password" type="password" required>
                <span class="fas fa-lock"></span>
                <label>Password</label>
            </div>
            <button>Sign up</button>
            <div class="sign-up">
                have an account?
                <a href="/Login">Login</a>
            </div>
        </form>
    </div>
</body>
</html>