html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #4ECDC4; /* Background color */
}

.card-panel {
	width: 400px; /* Set the width of the login card */
}

/* Styling for the "Back To Tutorial" button */
a.demobutton {
	background: #6a4aed;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	padding: 12px 18px;
	text-decoration: none;
	text-transform: capitalize;
	margin-bottom: 20px; /* Add margin below the button */
}

/* Styling for the login form */
.login-form {
	margin: 0 auto; /* Center the form horizontally */
}

.login-text {
	margin-bottom: 20px; /* Add margin below the Remember me checkbox */
}

/* Styling for the Login button */
.btn {
	background-color: #6a4aed;
	text-transform: uppercase;
}

/* Styling for the "Register Now!" and "Forgot password?" links */
.margin {
	margin-top: 0; /* Remove default top margin */
	margin-bottom: 0; /* Remove default bottom margin */
}
