@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="background-color:midnightblue; color:white">

</body>
<div class="jumbotron text-left text-white" style="padding: 50px;">
<h1 style="color:gold;">
    COLLEGE SUPREME GOVERNMENT
</h1>
</div>
<a class="btn btn-warning" asp-page="/ICESAddComment">Sign up to Add Comment</a>
<div class="col-sm-4 text-white">
    <a class="btn btn-warning" asp-page="/ICESPrivacy">Database</a>
</div>
